@page
@model repere.Pages.Requests.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.RequestName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.StaffId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.StaffId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.ClientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.ServiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.ServiceId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Request.RequestId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
