@page
@model repere.Pages.Requests.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.RequestName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.StaffId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.StaffId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.ClientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.ServiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.ServiceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Request.RequestId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
